@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Amatic+SC:wght@400;700&family=Autour+One&family=Bebas+Neue&family=Bonheur+Royale&family=Coiny&family=Exile&family=Leckerli+One&family=Limelight&family=Passero+One&family=Patrick+Hand&family=Rubik+Doodle+Shadow&family=WDXL+Lubrifont+TC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Amatic+SC:wght@400;700&family=Autour+One&family=Bebas+Neue&family=Bonheur+Royale&family=Coiny&family=Exile&family=Leckerli+One&family=Limelight&family=Passero+One&family=Patrick+Hand&family=Rubik+Doodle+Shadow&family=Sriracha&family=WDXL+Lubrifont+TC&display=swap');

:root{
    --fonte01:Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: "Passero One", sans-serif;
    --fonte03: "Sriracha", cursive;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family:var(--fonte01) ;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
   font-variant: small-caps;
   font-family: var(--fonte02);
   font-size: 10vw;
}
header > p{
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte03);
    font-size: 3vw;
}
section > p{
    padding-bottom: 2em;
}
.normal{
    background-color: white;
    color: black;
}
.imagens{
    background-color: rgba(0, 0, 0, 0.214);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.51);
    background-size: cover;
    background-attachment: fixed;
}
 .imagens > p{
  display: inline-block;
  padding: 5px;
 background-color: rgba(0, 0, 0, 0.433);
 text-shadow: 1px 1px 0px black;

}
#img01{
  background-image: url('imagens/background001.jpg');
  background-position: right center;
 
}
#img02{
   background-image: url('imagens/background002.jpg');
   background-position: right center;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
