@charset "UTF-8";


:root{
    --fonte1:
    --fonte2:
    --fonte3:
}
*{
    padding: 0px;
    margin: 0px;
}
body{
   background-color: rgba(211, 211, 211, 0.512);
}
nav{
background-color: rgba(76, 73, 73, 0.51);
text-align: center;
padding: 5px;

{
 padding: 10px
}
}
header{

}
footer h1{

}
footer p{

}