@charset "UTF-8";





:root{
    --cor1: #F2F2F2;
    --cor2: #D90404;
    --cor3: #404040;


     --fonte1:
     --fonte2:
     --fonte3:
}




*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    background-color: rgba(173, 166, 166, 0.26);
}
header{
    background-image: url(imagens/pexels-harriet-b-392993362-31008200.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(114, 113, 113);
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.501);
    width: 100vw;
    height: 400px;
}
header > h1{
    text-align: center;
    padding-top: 90px;
    padding-bottom: 40px;
    font-size: 3em;
   color: white;
   text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.395);
}
header > nav{
    display: inline-block;
    text-align: right;
    padding-top: 50px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.34);
    background-color: rgb(162, 158, 158);
    width: 100vw;
    padding-top: 7px;
    padding-bottom: 2px;
    margin: auto;
}
nav > ul{
     list-style-type: none;
}
nav li{
    display: inline-block;
}
nav a{
    padding-right: 20px;
    padding-left: 20px;
    font-size: 1.5em;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}
.nav:hover{
    transition: 0.5s;
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.307);
}
.nav:active{
    color: var(--cor3);
}
.sepa{
    display: block;
   background-image: linear-gradient(to right, var(--cor1), var(--cor3) );
   margin-top: 170px;
}
#card{
    font-weight: bold;
    text-align: center;
    color:rgba(78, 75, 75, 0.945);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.466);
}
#card:hover{
    transition: 0.5s;
    font-size: 1.1em;
    color: white;
}
.inicial{

}
.meio{

}

.fin{

}